<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <%= link_to '#', class: 'd-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none' do %>
        <%= icon('fas', 'flag') %>
      <% end %>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to 'Map', '#', class: 'nav-link px-2 link-dark' %></li>
        <li><%= link_to 'ルート一覧', '#', class: 'nav-link px-2 link-dark' %></li>
      </ul>

      <div class="dropdown text-end" id="dropdown-menu">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag current_user.avatar_url, size: '32x32', class: 'rounded-circle border' %>
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><%= link_to t('defaults.profile'), profiles_path, class: 'dropdown-item' %></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><%= link_to t('defaults.logout'), logout_path, method: :delete, class: 'dropdown-item' %></li>
        </ul>
      </div>
    </div>
  </div>
</header>
