<header class="p-3 border-bottom">
  <div class="container-sm">
    <div class="row align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-4 col-lg-auto me-lg-auto mb-2 mb-md-0">
        <li><%= link_to t('defaults.map'), maps_path, class: 'nav-link px-2 link-dark' %></li>
        <li><%= link_to 'ルート一覧', routes_path, class: 'nav-link px-2 link-dark' %></li>
      </ul>

      <ul class="nav col-4 justify-content-center">
        <li>
          <%= link_to root_path, class: 'nav-link link-dark' do %>
            <%= icon('fas', 'flag') %>
            沢登り(タイトル考え中)
          <% end %>
        </li>
      </ul>

      <div class="col-4 text-end">
        <%= link_to login_path, class: 'btn btn-outline-primary me-2' do %>
          <%= t('defaults.login') %>
        <% end %>
        <%= link_to new_user_path, class: 'btn btn-primary' do %>
          <%= t('defaults.sign_up') %>
        <% end %>
      </div>
    </div>
  </div>
</header>
