<div class="slider-area">
  <div class="slider">
    <div id="bg-slider" class="owl-carousel owl-theme" style="opacity: 1; display: block">
      <div class="home-image">
        <div class="title">
          <h1>沢登りのルートを探して、<br />情報収集するためのアプリです</h1>
        </div>
        <div class="item">
          <%= image_pack_tag 'topimage.jpeg', size: '1425x630' %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fuild">
    <div class="slider-content pt-5 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-11">
          <div class="search-form">
            <%= search_form_for @q, url: routes_path do |f| %>
              <div class="row justify-content-center">
                <div class="col-md-5 col-8 p-0 me-md-1">
                  <%= f.search_field :names_cont, class: 'form-control', placeholder: 'キーワードで探す' %>
                </div>
                <div class="col-md-2 col-8 p-0 m-md-0 m-1">
                  <%= f.select :prefecture_name_eq, Prefecture.all.pluck(:name), { include_blank: '都道府県を選択' }, class: 'form-select' %>
                </div>
                <div class="col-md-2 col-8 p-0 ms-1 me-1">
                  <%= f.select :level_eq, Route.levels_i18n.invert, { include_blank: 'グレードを選択' }, class: 'form-select' %>
                </div>
                <div class="col-md-1 col-12 p-0 mt-md-0 mt-1 text-center">
                  <%= f.button class: 'btn btn-success' do %>
                    <%= icon('fas', 'search') %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="text-center">
          <p class="mt-3">もしくは</p>
          <%= link_to '全国マップで探す', maps_path, class: 'btn btn-success shadow-sm w-50' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-sm mt-5">
  <% if @routes.present? %>
    <h4 class="mb-3">周辺のルートを表示(予定)</h4>
    <div class="row text-center" id="js-pagination">
      <%= render partial: 'routes/route', collection: @routes, locals: { home: true, item: 3 } %>
    </div>
    <%= paginate @routes, remote: true %>
  <% end %>
</div>


<div class="Welcome-area">
  <div class="container-sm">
    <div class="row justify-content-end align-items-center" style="height: 600px;">
      <div class="col-lg-6 col-xs-12">
        <div class="page-title text-center">
          <h2>沢登りとは</h2>
        </div>
        <div>
          <p>日本固有の登山形態の一つと言われており、沢道に沿って山を登る登山である。</p>
        </div>
      </div>
    </div>
  </div>
  </div>


<div class="grade-area mt-5">
  <div class="container-sm">
    <div class="row justify-content-end align-items-center" style="height: 600px;">
      <div class="col-lg-6 col-xs-12">
        <div class="page-title text-center">
          <h2>グレードとは</h2>
        </div>
        <blockquote class="mt-5">
          <h5>１級（初心者向き）</h5>
          <p>岩場でIII級のピッチをリードできる者や、沢に慣れたパーティーはロープ不要の場合が多い</p>
          <h5 class="pt-2">２級（中級者向き）</h5>
          <p>初級者のみでの入谷は控えたい。滝の直登にはロープを要する場合もある。高巻き技術も必要</p>
          <h5 class="pt-2">３級（中級者向き）</h5>
          <p>滝の直登には部分的にIV・V級のピッチも含む。ゴルジュの通過にも高度な技術を要する</p>
          <h5 class="pt-2">４級（上級者向き）</h5>
          <p>沢の中でビバークする長い谷で、高巻き道も不明瞭。遡行技術だけでなく雪渓の対処法など総合的な登山技術も必要</p>
          <p class="text-end">引用元：ヤマケイテクニカルブック４：沢登り(グレードの基準)</p>
      </div>
    </div>
  </div>
</div>
