<% item = local_assigns[:item] ||= 4 %>
<% home = local_assigns[:home] %>

<div class="<%= "col-xl-#{item} col-lg-4 col-sm-6 col-12 mb-sm-5 mb-2" %>">
  <div class="route-list m-auto" id="route-list-<%= route.id %>" style="width: 280px;">
    <div class="card shadow-sm">
      <%= link_to route_path(route), class: 'route-link' do %>
        <%= image_tag route.mountain.image_url, height: 150, class: 'w-100 card-img-top' %>
        <div class="card-body">
          <h3 class="card-title">
            <%= route.name %>
          </h3>

          <div class="d-flex align-items-center <%= 'justify-content-center' if home %>">
            <div class="card-text me-2">
              <%= route.mountain.prefecture.name %>
            </div>
            <div class="card-text">
              <%= route.mountain.name %>
            </div>
            <% if home %>
              <div class="card-text badge bg-secondary ms-2">
                <%= route.level_i18n %>
              </div>
            <% end %>
          </div>

          <% unless home %>
            <div class="d-flex align-items-center mt-2">
              <div class="badge bg-secondary me-2">
                <%= route.level_i18n %>
              </div>
              <div class="progress w-100">
                <% (route.level_before_type_cast + 1).times do %>
                  <div class="progress-bar bg-danger w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                <% end %>
              </div>
            </div>

            <ul class="list-inline text-center mt-3 mb-0">
              <li class="list-inline-item">
                <%= render 'shared/icon', column: Route.human_attribute_name(:schedule) %>
                <%= route.schedule_i18n %>
              </li>
              <li class="list-inline-item">
                <%= render 'shared/icon', column: Route.human_attribute_name(:time) %>
                <%= route.time %>
              </li>
              <li class="list-inline-item">
                <%= render 'shared/icon', column: Route.human_attribute_name(:length) %>
                <%= route.length %>km
              </li>
            </ul>
          <% end%>
        </div>
      <% end %>
    </div>

    <%=
      if current_user.present?
        if current_user.favorite?(route)
          render 'favorites/unfavorite', route: route
        else
          render 'favorites/favorite', route: route
        end
      end
    %>
  </div>
</div>
