<div class="container">
  <%= image_tag @route.mountain.image_url, height: 300, class: 'w-100 mb-5' %>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex align-items-center">
        <h1><%= @route.name %></h1>
        <% if current_user.present? %>
          <div class="ms-3">
            <%= current_user.favorite?(@route) ? (render 'favorites/unfavorite', route: @route) : (render 'favorites/favorite', route: @route) %>
          </div>
        <% end %>
      </div>
      <ul class="list-inline mt-3 mb-0">
        <li class="list-inline-item">
          <%= icon('fas', 'map-marked-alt') %>
          <%= @route.mountain.prefecture.name %>
        </li>
        <li class="list-inline-item">
          <%= icon('fas', 'mountain') %>
          <%= @route.mountain.name %>
        </li>
      </ul>
      <p class="mt-3"><%= @route.description %></p>
    </div>

    <div class="col-md-6">
      <div class="row service-parts">
        <%= render 'information', value: @route.time, column: Route.human_attribute_name(:time) %>
        <%= render 'information', value: @route.schedule, column: Route.human_attribute_name(:schedule) %>
        <%= render 'information', value: @route.length, column: Route.human_attribute_name(:length) %>
        <%= render 'information', value: @route.level, column: Route.human_attribute_name(:level) %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="d-flex flex-row-reverse">
        <%= link_to map_path(@route.map), class: 'map-image', id: 'map' do %>
          <%=
            image_tag 'https://api.mapbox.com/styles/v1/koheikun/cl03dh6ab002i14p5ns80x3fn/static/136.71655,35.76698,12/500x300?access_token=pk.eyJ1Ijoia29oZWlrdW4iLCJhIjoiY2t6cDdjMTkzNjZpcTJwdHYxbXAxZnl6ayJ9.RaX5Zwhx-cWf_73LpdeliA',
                      class: 'img-responsive img-thumbnail'
          %>
          <p class="btn btn-success">
            <%= t('.full_map') %>
          </p>
        <% end %>
      </div>
    </div>

    <%= link_to t('.search_yamap'), "https://yamap.com/search/activities?type=31&keyword=#{URI.encode_www_form_component(@route.mountain.name)}" %>

    <div class="col-md-6 mt-5">
      <%= render 'tab' %>
    </div>
  </div>
</div>
