<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>SawaRoute</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <%= Gon::Base.render_data %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= logged_in? ? (render 'shared/after_login_header') : (render 'shared/before_login_header') %>

    <%= render 'shared/flash_message' if flash %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
